@model Typespot.Models.Tonality

@{
    ViewBag.Title = "Details";
}
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Details</h2>
      </div>
    </div>
  </div>
</div>

<div class="body-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      </div>
    </div>
  </div>

  <div>
    <h4>Tonality</h4>
    <hr />
    <dl class="dl-horizontal">
      <dt>
        @Html.DisplayNameFor(model => model.Name)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.Name)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Description)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.Description)
      </dd>

    </dl>
  </div>
  <p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
  </p>
</div>